/*************************
Handcrafted by Aydar N.
2023

me@aydar.media
*************************/

@import 'fonts.css';

*, ::after, ::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

a, p, h1, h2, h3, h4, h5, h6 {
	font-family: 'JetBrains Mono';
	line-height: 1.4;
	text-transform: uppercase;
}

html, body {
	overflow: hidden;
}

body {
	background-color: #dbd7d2;
}

img, svg {
	-webkit-user-select: none;
}


